.containerBtn {
    margin: 20px 0 12px;

    .monthTitle {
        font-weight: 700;
    }

    .btnIcon {
        height: 24px;
    }

    .btnOutline {
        padding: 8px 20.5px;
        margin: 0 16px 0 32px;
    }
}

