$primaryColor: rgba(50, 56, 84, 1);
$secondColor: rgba(255, 255, 255, 1);
$brightColor: rgba(141, 127, 199, 1);
$addedColor: rgba(0, 138, 255, 1);
$bgColor: rgba(253, 253, 255, 1);
$menuColor: rgba(238, 238, 255, 1);
$btnColor: rgba(222, 207, 255, 1);
$borderColor: rgba(236, 236, 236, 1);
$placeholderColor: rgba(121, 116, 127, 1);
$linksAndIconsColor: rgba(67, 75, 116, 1);
$borderCardColor: rgba(115, 98, 188, 1);
$lightBtnColor: rgba(216, 236, 255, 1);

$hoverColor: rgb(126, 106, 206);
$lightHoverColor: rgb(210, 190, 252);
$hoverBtnColor: rgb(186, 216, 244);
$borderTable:  rgba(200, 197, 205, 1);
$successColor: rgba(34, 120, 43, 1);
$successColorBorder: rgba(187, 231, 185, 1);