.SaleCard {
    position: relative;

    .info {
        color: white;
        max-width: 300px;

        p {
            margin-top: 12px;
        }
    }

    .saleImg {
        position: absolute;
        top: 0;
        right: 0;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}