@import "./styles/fonts.scss";
@import "./styles/reset.scss";



body {
  font-family: "Circe Rounded", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer,
header,
hgroup,
menu,
nav,
section,
img {
  display: block;
}

button:hover {
  cursor: pointer;
}

hr {
  border: 1px solid rgba(238, 238, 255, 1);
  height: 0;
  width: 100%;
}
